<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-title>Leave Details</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="row">
<div class="column">
  <ion-card color ="warning" class ="cardheight">
  <ion-card-header>
    <ion-card-subtitle>View Metting</ion-card-subtitle>
    <ion-card-title>Details</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   
  </ion-card-content>
</ion-card>
</div>
<div class="column">
 
<ion-card color ="warning" class ="cardheight">
    <ion-icon name="pin" slot="center"></ion-icon>

  <ion-card-header>
    <ion-card-subtitle>Join Meeting</ion-card-subtitle>
    <ion-card-title>Details</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   
  </ion-card-content>
</ion-card>
</div>
</div> 
<div class="row">
<div class="column">
  <ion-card color ="warning" class ="cardheight">
  
     <ion-card-content>
       <ion-icon name="pin" slot="center"></ion-icon>
   Apply
  </ion-card-content> 
</ion-card>
</div>
<div class="column">

</div>
</div> 

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
