<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-title>Leave Details</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-row class="header-row">
      <ion-col>
        <ion-text>Edit Attendence</ion-text>
      </ion-col>
    </ion-row>

<ion-content>

 <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <ion-text>
           Student Name
        </ion-text>
      </ion-col>
        <ion-col>
          <ion-text>
            Roll No
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
           Attendence
          </ion-text>
        </ion-col>
      </ion-row>
      
      <ion-row>
      <ion-col>
        <ion-text>
            {{attendencedata.studentName}}
        </ion-text>
      </ion-col>
        <ion-col>
          <ion-text>
            {{attendencedata.id}}
          </ion-text>
        </ion-col>
        <ion-col>
         <mat-checkbox class="example-margin" [(ngModel)]="attendencedata.attendenceType"></mat-checkbox>
        
          
        </ion-col>
      </ion-row>
 </ion-grid>
  
 <button type="button" mat-raised-button style="margin-left:60px; margin-right:20px; margin-top:10px; width:260px;" [routerLink]="['../']">Cancel</button>
  <br>
 <button mat-raised-button style="margin-left:60px; margin-right:20px; width:260px;margin-top:10px;" color="primary" (click)="submit()" >Submit</button>
</ion-content>
