<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-title>Leave Details</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-text-center">
  <ion-row class="header-row">
      <ion-col>
        <ion-text>Holiday</ion-text>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-text>
            Name
        </ion-text>
      </ion-col>
        <ion-col>
          <ion-text>
            From Date
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
           To Date
          </ion-text>
        </ion-col>
        
      </ion-row>
      
      <ion-row *ngFor="let holidaydetail of holidaydetails">
      <ion-col>
        <ion-text>
            {{holidaydetail.name}}
        </ion-text>
      </ion-col>
        <ion-col>
          <ion-text>
            {{holidaydetail.fromDate|date:'dd MMM YYYY'}}
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
           {{holidaydetail.toDate|date:'dd MMM YYYY'}}
          </ion-text>
        </ion-col>
      </ion-row>
        
         
        
   
        
      
</ion-grid>
</ion-content>
