<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-title>Leave Details</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<form [formGroup]="attendencemanagementForm" >
 <div fxLayout="column" style="margin-left:20px; margin-right:20px;margin-top:20px">

<mat-form-field class="example-full-width">
    <mat-label>Select Section</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           formControlName="sectionId"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let section of sectionData" [value]="section.id">
        {{section.name}}
      </mat-option>
    </mat-autocomplete>
    </mat-form-field>
       
  <mat-form-field class="example-full-width">
            <mat-label>From Date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="fromDatePicker" required formControlName="fromDate">
            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #fromDatePicker></mat-datepicker>
            <mat-error *ngIf="attendencemanagementForm.controls.fromDate.hasError('required')">
              From Date is <strong>required</strong>
            </mat-error>
    </mat-form-field> 
    <mat-form-field class="example-full-width">
            <mat-label>To Date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="toDatePicker" required formControlName="toDate">
            <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #toDatePicker></mat-datepicker>
            <mat-error *ngIf="attendencemanagementForm.controls.toDate.hasError('required')">
              To Date is <strong>required</strong>
            </mat-error>
    </mat-form-field> 
          </div>
  </form>
 <button type="button" mat-raised-button style="margin-left:60px; margin-right:20px; margin-top:10px; width:260px;" [routerLink]="['../']">Cancel</button>
  <br>
 <button mat-raised-button style="margin-left:60px; margin-right:20px; width:260px;margin-top:10px;" color="primary" (click)="submit()" [disabled]="!attendencemanagementForm.valid" >Submit</button>
 
  
<ion-content>

  <ion-grid class="ion-text-center">
  <ion-row class="header-row">
      <ion-col>
        <ion-text>Diary Task</ion-text>
      </ion-col>
    </ion-row>
    <div *ngFor="let studentDiaryDetail of studentDiaryDetails">
    <ion-row>
      <ion-col>
        <ion-text>
            Date
        </ion-text>
      </ion-col>
        <ion-col>
          <ion-text>
            {{studentDiaryDetail.createdate|date:'dd MMM YYYY'}}
          </ion-text>
        </ion-col>
        </ion-row>
        
        <ion-row>
      <ion-col>
        <ion-text>
            Given By
        </ion-text>
      </ion-col>
        <ion-col>
          <ion-text>
            {{studentDiaryDetail.staffName}}
          </ion-text>
        </ion-col>
        </ion-row>
        
       <ion-row>
      <ion-col>
        <ion-text>
           Subject
        </ion-text>
      </ion-col>
        <ion-col>
          <ion-text>
            {{studentDiaryDetail.subject}}
          </ion-text>
        </ion-col>
        </ion-row>
        
    <ion-row>
      <ion-col>
        <ion-text>
            Class
        </ion-text>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            {{studentDiaryDetail.className}}
          </ion-text>
        </ion-col>
        </ion-row>
        
        <ion-row>
      <ion-col>
        <ion-text>
            Section
        </ion-text>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            {{studentDiaryDetail.sectionName}}
          </ion-text>
        </ion-col>
        </ion-row>
        
      <ion-row>
      <ion-col>
        <ion-text>
            Description
        </ion-text>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            {{studentDiaryDetail.description}}
          </ion-text>
        </ion-col>
        </ion-row>
  
  </div>
</ion-grid>  
</ion-content>

